:root {
  --pale-blue: #e0e8ff;
  --bright-blue: #382ae1;
  --very-pale-blue: #f5f7ff;
  --desaturated-blue: #717fa6;
  --dark-blue: #1f2e55;
  --pale-purple: #766cf1;

  --mobile: 375px;
  --desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./images/pattern-background-mobile.svg);
  background-color: var(--pale-blue);
  padding: 0 24px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Red Hat Display";
  margin-top: 10px;
}
.attribution a {
  color: var(--bright-blue);
}

.order-summary {
  min-width: 327px;
  height: 567px;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.order-summary > img {
  width: 327px;
  height: 160px;
}

h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: var(--dark-blue);
  margin-top: 32px;
  margin-bottom: 16px;
}

.order-summary > p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--desaturated-blue);
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 24px;
  padding: 17px 16px 16px;
  margin-block: 24px;
}

.plan > a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  text-decoration-line: underline;
  color: var(--bright-blue);
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.description > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-inline-start: 20px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  color: var(--dark-blue);
}

p > span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--desaturated-blue);
}

button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  width: 279px;
  height: 50px;
  border: none;
  align-self: center;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.cancel {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: var(--desaturated-blue);
  text-decoration-line: none;
  align-self: center;
  margin-top: 24px;
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
  }

  .order-summary {
    height: 697px;
  }

  .order-summary > img {
    width: 450px;
    height: 220px;
  }

  h1 {
    margin-top: 45px;
    margin-bottom: 17px;
  }

  .order-summary > p {
    font-size: 16px;
    line-height: 26px;
    margin-inline: 48px;
  }

  .plan {
    margin-inline: 48px;
    padding: 25px 24px;
    margin-block: 20px 32px;
  }

  .plan > a {
    font-size: 14px;
    line-height: 19px;
  }

  .description > p {
    font-size: 16px;
    line-height: 21px;
  }

  p > span {
    font-size: 16px;
    line-height: 21px;
  }

  button {
    width: 354px;
  }

  .cancel {
    margin-top: 32px;
  }
}
